@charset "utf-8";
@import 'reset.css';

/* Drop body for delete model and class rectangle */
body{
  margin: 0 auto;
  background: url(../assets/home_agency.jpg) no-repeat;
  background-size: cover;
  height: 4200px;
}

header{
  background: url(../assets/banner-lion.jpg) no-repeat;
  background-size: cover;
  height: 740px;
}

.header--background{
  padding-top: 32px;
  margin-left: 34px;
}

.header--background_title{
  position: absolute;
  float: left;
  font-family: 'Arial';
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.header--background_logo{
  position: relative;
  float: right;
  margin-right: 32px;
  margin-top: -2px;
  width: 2.5%;
}

.header--text{
  padding-top: 200px;
  margin-left: 267px;
}

.header--text_welcome{
  font-family: 'Arial';
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.header--text_title{
  position: absolute;
  float: left;
  white-space:normal;
  width:370px;
  padding-top: 73px;
  margin-left: -65px; 
  letter-spacing: 0.5px;
  font-family: 'Arial';
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.header--text_text{
  position: absolute;
  float: left;
  font-family: 'Arial';
  margin-top: 240px;
  margin-left: -65px; 
  font-size: 12px;
  letter-spacing: 0.5px;
  color: white;
  white-space:normal;
  width:300px;
  padding: 2px;
}

.header--text_picture{
  position: absolute;
  float: left;
  padding-top: 21%;
  padding-left: 10px;
}

.header--text_caroussel{
  height: 10px;
  width: 10px;
  text-align: center;
  display: inline-block;
  justify-content: center;
}

ul {
  padding:0;
  margin:0;
  padding-top: 453px;
  padding-left: 410px;
  list-style-type:none;
}

li {
 margin-left: 10px;
 float:left; /*pour IE*/
}

ul li a {
 display:block;
 float:left;   
 width:100px;
 background-color:#6495ED;
 color:black;
 text-decoration:none;
 text-align:center;
 padding:5px;
 border:2px solid;
 /*pour avoir un effet "outset" avec IE :*/
 border-color:#DCDCDC #696969 #696969 #DCDCDC;
}

.header--prev{
 position: absolute;
 float:left;   
 writing-mode: vertical-lr;
 text-orientation: upright;
  font-family: 'Arial';
  font-size: 15px
  letter-spacing: 5px;
  font-weight: bold;
  color: white;
  margin-top: 110px;
  margin-left: -230px;
}

.header--next{
  position: relative;
  float:right;  
  writing-mode: vertical-lr;
  text-orientation: upright;
  margin-top: 108px;
  padding-right: 30px;
  font-family: 'Arial';
  font-size: 15px;
  letter-spacing: 5px;
  font-weight: bold;
  color: white; 
}

.container--about{
  padding-top: 245px;
  margin-left: 45px;
}

.container--about_comment {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 6px;
  font-family: 'Arial';
}

.container--about_title{
  position: absolute;
  float: left;
  white-space:normal;
  width: 450px;
  padding-top: 35px;
  margin-left: -150px; 
  letter-spacing: 1px;
  font-family: 'Arial';
  font-size: 55px;
  font-weight: bold;
}

.container--about_text {
  position: absolute;
  float: left;
  font-family: 'Arial';
  margin-top: 178px;
  margin-left: -25px; 
  line-height: 23px;
  font-size: 11px;
  white-space:normal;
  width:275px;
}

.container--about_numpage{
  position: absolute;
  float: left;
  margin-top: 330px;
  margin-left: -150px; 
  font-weight: bold;
  font-size: 19px;
  font-family: 'Arial';
}

.container--about_picture{
  position: relative;
  float: right;
  width: 380px;
  height: 405px;
  margin-top: -60px;
  padding-right: 30px;
}


/* seconde container */
.container--reverseAbout{
  padding-top: 568px;
  position: relative;
  float: right;
  margin-right: -385px;
}

.container--reverseAbout_comment {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 6px;
  font-family: 'Arial';
  float: right;
}

.container--reverseAbout_title{
  float: right;
  white-space:normal;
  width: 450px;
  padding-top: 40px;
  text-align: right;
  letter-spacing: 1px;
  margin-right: -205px;
  font-family: 'Arial';
  font-size: 55px;
  font-weight: bold;
}

.container--reverseAbout_text {
  position: absolute;
  float: left;
  font-family: 'Arial';
  margin-top: 180px;
  margin-left: 560px;
  text-align: right; 
  line-height: 23px;
  font-size: 11px;
  white-space:normal;
  width:275px;
}

.container--reverseAbout_numpage{
  position: absolute;
  float: left;
  margin-top: 335px;
  margin-left: 815px; 
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 19px;
  font-family: 'Arial';
}

.container--reverseAbout_picture{
  position: relative;
  float: right;
  width: 380px;
  height: 405px;
  margin-top: -60px;
  padding-right: -300px;
}

/*Gallery picture*/
.container--gallery_navigator{
  padding-top: 380px;
  position: relative;
  float: right;
  margin-right: -385px;
}

.container--gallery_comment{
  position: relative;
  float: left;
  padding-top: 190px;
  padding-left: 50px;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 6px;
  font-family: 'Arial';
}

.container--gallery_title{
  position: relative;
  float: right;
  white-space:normal;
  padding-top: 20px;
  margin-right: 140px; 
  letter-spacing: 1.20px;
  font-family: 'Arial';
  font-size: 52px;
  font-weight: bold;
}


/*Raccourci*/
.container{
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

.text{
  padding-left: 0px;
  margin-right: 10px;
 font-family: 'Arial';
}

.rectangle{
  height: 3450px;
  opacity: 0.5;
  background-color: yellow;  
}
