@charset "utf-8";
@import 'reset.css';

body{
  margin: 0 auto;
  background: url(../assets/home_agency.jpg) no-repeat;
  background-size: cover;
  height: 4200px;
}

header{
  background: url(../assets/banner-lion.jpg) no-repeat;
  background-size: cover;
  height: 740px;
  opacity: 0.5;
  margin-left: 15px;
  margin-left: 15px;
}

.header--background{
  padding-top: 32px;
  margin-left: 34px;
}

.header--background_title{
  position: absolute;
  float: left;
  font-family: 'Arial';
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.header--background_logo{
  position: relative;
  float: right;
  margin-right: 32px;
  margin-top: -2px;
  width: 2.5%;
}

.header--text{
  padding-top: 200px;
  margin-left: 267px;
}

.header--text_welcome{
  font-family: 'Arial';
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.header--text_title{
  position: absolute;
  float: left;
  white-space:normal;
  width:370px;
  padding-top: 73px;
  margin-left: -65px; 
  letter-spacing: 0.5px;
  font-family: 'Arial';
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.header--text_text{
  position: absolute;
  float: left;
  font-family: 'Arial';
  margin-top: 240px;
  margin-left: -65px; 
  font-size: 12px;
  letter-spacing: 0.5px;
  color: white;
  white-space:normal;
  width:300px;
  padding: 2px;
}

/*.rectangle {
  width: 100%;
  height: 740px;
  opacity: 0.5;
  background-color: yellow;  
}*/
